<div *ngFor="let product of products">
    <mat-card class="card">
        <mat-card-title>
            <h3>
                <a> {{ product.name }} </a>
            </h3>
        </mat-card-title>

        <mat-card-content>
            <h3>
                <a [title]="product.name+ 'detalles'" [routerLink]="[ '/products', product.id ]">
                    {{ product.name}}
                </a>

            </h3>
            <p>
                Precio: {{ product.price | currency}}
            </p>
            <p *ngIf="product.description">
                Descripción: {{product.description}}
            </p>
            <button type="button" (click)="share(product.name)">
                Compartir
            </button>

            <app-product-alerts [product]="product" (notify)="onNotify()">
            </app-product-alerts>

            <button type="button" [routerLink]="[ '/products', product.id ]">
                Detalles
            </button>


        </mat-card-content>
</mat-card>
<br>
<br>
</div>